.gp-topic-item {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
  // border-bottom: 1px dotted var(--colour-disabled);
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.3s ease;
  color: inherit;
  border-radius: 4px;

  & div {
    transition: 0.3s ease;
    margin: 1rem;
  }

  &:hover {
    background-color: #00000014;
    border-radius: 4px;
    & div {
      margin: 1.2rem;
    }
  }
  @media screen and (max-width: 1024px) {
    color: var(--colour-light);
  }
}

.gp-topic-icon {
  color: var(--colour-secondary);
}

.gp-list-collapse {
  & .gp-topic-item {
    padding: 0;
  }
}
