.generic-search-input {
  margin: 1rem 0;
  max-width: 100%;
  outline: 0;
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  padding-left: 10px;
  background: #fff;
  // border: 1px solid rgba(34,36,38,.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  box-shadow: none;
}

.generic-search-input-black {
  color: white;
  padding: 0 0.5rem;
  margin-top: 0.5rem;

  &:before {
    border-color: #ffffff7a;
  }

  &:after {
    border-color: var(--colour-secondary);
  }
}
